.content {
    padding: 15px;
    background-color: white;
    margin: 20px;

}

h1, input, label, button, hr {
    background-color: white;
}

h1, label {
    color: #68391A;
}

input {
    display: flex;
    padding: 10px;
    margin: 5px;
    width: 97%;
    border: 1px solid grey;
}

label {
    font-weight: 600;
}

.login, .reset {
    cursor: pointer;
    background-color: #c9f6fc;
    border: none;
    padding: 10px;
    color: #68391A;
    margin: 5px;
}

button:hover {
    background-color: #99E3EC;
}